<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if GOOGLE_SEARCH_CONSOLE %}
    <meta name="google-site-verification" content="{{GOOGLE_SEARCH_CONSOLE}}"/>
    {% endif %}
    {% block meta %}{% endblock %}
    {#PureCSS#}
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
         <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <!--<![endif]-->

    {#Fonts#}
    <link href="https://fonts.googleapis.com/css?family=Fira+Code:wght@500|Fira+Sans+Condensed|Cantarell|VT323&display=swap" rel="stylesheet">

    {#Stylesheets#}
    {% assets filters="cssmin", output="style.min.css", "css/astrochelys.css", "css/pygments.css" %}
        <link href="/{{ ASSET_URL }}" rel="stylesheet">
    {% endassets %}

    {#Icons#}
    <link rel="shortcut icon" href="{{ SITEURL }}/images/favicon.ico"/>

    {#Hypothesis#}
    <script src="https://hypothes.is/embed.js" async></script>

{% if GOOGLE_ANALYTICS %}
     <!-- Google Analytics -->
     <script>
         (function (i, s, o, g, r, a, m) {
             i['GoogleAnalyticsObject'] = r;
             i[r] = i[r] || function () {
                 (i[r].q = i[r].q || []).push(arguments)
             }, i[r].l = 1 * new Date();
             a = s.createElement(o),
                 m = s.getElementsByTagName(o)[0];
             a.async = 1;
             a.src = g;
             m.parentNode.insertBefore(a, m)
         })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
         ga('create', '{{ GOOGLE_ANALYTICS }}', '{{ DOMAIN }}');
         ga('send', 'pageview');
     </script>
     {% endif %}

 {% if FATHOM_ANALYTICS %}
 <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
     <script>
       (function(f, a, t, h, o, m){
       a[h]=a[h]||function(){
       (a[h].q=a[h].q||[]).push(arguments)
       };
       o=f.createElement('script'),
       m=f.getElementsByTagName('script')[0];
       o.async=1; o.src=t; o.id='fathom-script';
       m.parentNode.insertBefore(o,m)
       })(document, window, '//{{ FATHOM_ANALYTICS }}/tracker.js', 'fathom');
       fathom('set', 'siteId', '{{ FATHOM_SITE_ID }}');
       fathom('trackPageview');
     </script>
     <!-- / Fathom -->
{% endif %}
{% if GOATCOUNTER_ANALYTICS %}
  <script data-goatcounter="https://{{ GOATCOUNTER_ANALYTICS }}.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
{% endif %}
 </head>

<body>
<div id="layout" class="pure-g">

{#This means the sidebar is full-width on mobile (u) and a bit less than 1/4 on larger screens (md)#}
<div class="sidebar pure-u-1 pure-u-md-5-24">
    <nav id="sidebar">
      <div class="sidebar-header">
        {% include "snippets/header.html" %}
        {% if ADD_SEARCH_BOX %}
            {% include "snippets/search.html" %}
        {% endif %}
      </div>
      <div class="sidebar-content">
        <div class="toc">{% block toc %}{% endblock %}</div>
      </div>
      <div id="footer"><small>Powered by <a href="http://getpelican.com/">Pelican</a> and <a href="https://github.com/out-of-cheese-error/astrochelys">Astrochelys</a></small></div>
    </nav>
</div>

<nav class="phone-header">
  {% include "snippets/header.html" %}
</nav>

{#The main text (+margin) is full width on mobile and 4/5th on computer screens#}
       <div class="content pure-u-1 pure-u-md-4-5">
           <article>
               {% block content %}{% endblock %}
               <hr>
           </article>
       </div>
   </div> {#Closes the layout div#}
 </body>
</html>
