{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block toc %}
{% if page.toc %}
<div class="uppercase">{{page.title}}</div>
<br>
<div class="col-lg-3 hidden-xs hidden-sm">
    {{page.toc}}
</div>
{% endif %}
{% endblock %}

{% block content %}
<section id="content" class="body">
  <header><h1>{{ page.title }}</h1></header>
  {{ page.content }}
  {% if page.modified %}
  <p>Last updated: {{ page.locale_modified }}</p>
  {% endif %}
</section>
{% endblock %}
